*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100vh;
    background-color: #222;
}
/*estilizando o navbar*/
#navbar{
    background-color: rgba(111, 238, 255, 0.445);
    position: fixed;
    height: 12%;
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 70% 30%;
}

#navbar ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar ul a{
    cursor: pointer;
    background-color: rgb(47, 182, 223);
    height: 65%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    box-shadow: 3px 3px 10px 2px #111;
}

#navbar ul a:hover{
    background-color: rgb(69, 205, 247);
}

#navbar ul li{
    text-decoration: none;
    list-style: none;
    transition: 500ms;
}



#navbar div{
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.btn-type{
    height: 65%;
    width: 20%;
    font-size: 1.3em;
    background-color: yellow;
    text-transform: uppercase;
    transition: 500ms;
    cursor: pointer;
    box-shadow: 3px 3px 10px 2px #111;
}


.premium{
    position: absolute;
    background-color: yellow;
    height: 65%;
    width: 20%;
}
.premium:hover{
    transform: scale(1.2);
}

.comum{
    background-color: gray;
    height: 100%;
    width: 50%;
}

.comum:hover{
    background-color: rgb(87, 87, 87);
}

.sair{
    background-color: #222;
    height: 90%;
    width: 30%;
    color: wheat;
}

.sair:hover{
    background-color: #363636;
}

.hide{
    display: none;
}